################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug/VideoMosaicking.obj
/Debug/vc120.idb
/Debug/vc120.pdb
/Debug/VideoMosaicking.log
/Debug/VideoMosaicking.tlog/cl.command.1.tlog
/Debug/VideoMosaicking.tlog/CL.read.1.tlog
/Debug/VideoMosaicking.tlog/CL.write.1.tlog
/Debug/VideoMosaicking.tlog/link.command.1.tlog
/Debug/VideoMosaicking.tlog/link.read.1.tlog
/Debug/VideoMosaicking.tlog/link.write.1.tlog
/Debug/VideoMosaicking.tlog/unsuccessfulbuild
/Debug/VideoMosaicking.tlog/VideoMosaicking.lastbuildstate
/VideoMosaicking.vcxproj
/VideoMosaicking.vcxproj.filters
/x64/Debug/vc120.idb
/x64/Debug/vc120.pdb
/x64/Debug/VideoMosaicking.log
/x64/Debug/VideoMosaicking.obj
/x64/Debug/VideoMosaicking.tlog/cl.command.1.tlog
/x64/Debug/VideoMosaicking.tlog/CL.read.1.tlog
/x64/Debug/VideoMosaicking.tlog/CL.write.1.tlog
/x64/Debug/VideoMosaicking.tlog/link.command.1.tlog
/x64/Debug/VideoMosaicking.tlog/link.read.1.tlog
/x64/Debug/VideoMosaicking.tlog/link.write.1.tlog
/x64/Debug/VideoMosaicking.tlog/VideoMosaicking.lastbuildstate
/VideoMosaicking.vcxproj.user
/x64/Release/vc120.pdb
/x64/Release/VideoMosaicking.log
/x64/Release/VideoMosaicking.tlog/cl.command.1.tlog
/x64/Release/VideoMosaicking.tlog/unsuccessfulbuild
/x64/Release/VideoMosaicking.tlog/VideoMosaicking.lastbuildstate
